/*Base*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*Contenedor*/

.olvide-container {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(36, 52, 71, 0.08);
    width: 100%;
    max-width: 380px;
    animation: fadeSlideIn 0.6s ease;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Texto */

.olvide-text {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/*Input*/

.input-group {
    margin-bottom: 18px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}

/*Botón*/

.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #4CB5AE;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #3AA39C;
}

/*Link*/

.olvide-links {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.olvide-links a {
    color: #4CB5AE;
    text-decoration: none;
}

.olvide-links a:hover {
    text-decoration: underline;
}